<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>write</title>
</head>
<body>
  <form action="/board/save" method="post" enctype="multipart/form-data">
    <input type="text" name="boardWriter"><br>
    <input type="text" name="boardPass"><br>
    <input type="text" name="boardTitle"><br>
    <textarea name="boardContent" cols="30" rows="10"></textarea><br>
      <input type="file" name="boardFile" multiple>
      <input type="submit" value="글작성">
  </form>

</body>
</html>